.build
.mbed
projectfiles
*.py*
BUILD
HTS221
mbed-os
wifi-ism43362
/resources/
/.git.zip
/.idea/.gitignore
/mbed-os/tools/1.zip
/.idea/assigmnent_exam.iml
/.idea/editor.xml
/filer.zip
/HTS221.zip
/.idea/misc.xml
/.idea/modules.xml
/mbed-os/tools/resources.zip
/mbed-os/tools/targets.zip
/mbed-os/tools/toolchains.zip
/.idea/vcs.xml
/wifi-ism43362.zip
/mbed-os/tools/1.zip
/.idea/assigmnent_exam2.iml
/mbed-os/tools/resources.zip
/mbed-os/tools/targets.zip
/mbed-os/tools/toolchains.zip
/mbed-os/tools/1.zip
/.idea/assigmnent_exam2.iml
/mbed-os/tools/resources.zip
/mbed-os/tools/targets.zip
/mbed-os/tools/toolchains.zip
